<div class="dashboard-main">

    <div class="dashboard-header">
        <div>
            <h1>Employees</h1>
            <p>There are 4 employees</p>
        </div>

        <div>
            <form class="search-form">
                <mat-form-field class="search-full-width" appearance="fill">
                  <mat-label>Search</mat-label>
                  <input matInput placeholder="Search" value="">
                </mat-form-field>
              </form>
        </div>

        <div>
            Filter
        </div>

        <div>
            Button
        </div>
    </div>

    <div class="dashboard-list">

    </div>

</div>