<div class="dashboard-main">

    <div class="dashboard-header">
        <div>
            <h1>Employees</h1>
            <p>There are 4 employees</p>
        </div>

        <div>
            <form class="search-form">
                <mat-form-field class="search-full-width" appearance="fill">
                  <mat-label>Search</mat-label>
                  <input matInput placeholder="Search" value="">
                </mat-form-field>
              </form>
        </div>

        <div>
            <mat-form-field appearance="fill">
            <mat-label>Filter by</mat-label>
            <mat-select>
                <mat-option *ngFor="let attribute of attributes" [value]="attribute.value">
                {{attribute.viewValue}}
                </mat-option>
            </mat-select>
            </mat-form-field>
        </div>

        <div>
            <button mat-raised-button>New Employee</button>
        </div>
    </div>

    <div class="dashboard-list">

    </div>

</div>